.Ripple {
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  border-radius: 50%;
  animation: Ripple-entering 350ms forwards ease-in-out;
  transition: opacity 350ms ease-out;
}

@keyframes Ripple-entering {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.Ripple-exiting {
  opacity: 0;
}
