.Ripple {
  background-color: rgba(255, 0, 0, 0.5);
  position: absolute;
  border-radius: 50%;
  animation: Ripple-show 750ms forwards ease-in-out;
}

@keyframes Ripple-show {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
