.Ripple {
  position: absolute;
  border-radius: 50%;
  animation: Ripple-entering forwards ease-in-out;
  transition: opacity ease-out;

  background-color: rgba(255, 0, 0, 0.5);
  animation-duration: 350ms;
  transition-duration: 350ms;
}

@keyframes Ripple-entering {
  from {
    transform: translate(-50%, -50%) scale(0);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

.Ripple-exiting {
  opacity: 0;
}
